.sidebar {
	color: aliceblue;
	background-color: rgb(27, 27, 27, 0.55);
	margin: 0;
	width: 500px;
	height: 100%;
	text-align: center;
	overflow-y: scroll;
}

.multi {
	display: grid;
	gap: 2rem;
}
.nodeButton * {
	pointer-events: none;
}
.sidebar_header_buttons {
	display: flex;
	justify-content: space-around;
	margin-block: 2rem;
}

.singleSidebarTags {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
}
.singleSidebarIncludeIfs {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1rem;
}

.NodeButton {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-areas:
		"id tags"
		"text tags"
		"type tags";
	min-height: 10rem;
}
.id {
	grid-area: id;
}
.text {
	grid-area: text;
}

.type {
	grid-area: type;
}
.tags {
	grid-area: tags;
}

.tag {
	display: grid;
	grid-template-columns: 4fr 1fr;
	align-items: center;
	justify-content: center;
	margin: 1rem;
	gap: 0.5rem;
	background-color: rgb(27, 27, 27);
	border-radius: 10%;
}
.tag * {
	align-self: center;
	justify-self: center;
	margin: 0;
}
.mb-3 {
	margin: 1rem;
}
.parameter {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 1fr;
	text-align: center;
	align-items: center;
	padding: 1rem;
}

h5 {
	margin: 2rem;
}
h6 {
	margin: 2rem;
}
